@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700");

$font-family-sans-serif: "Poppins" !default;

// Colors

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #4f5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #5475ed !default;
$indigo: #6610f2 !default;
$purple: #7015bd !default;
$pink: #e83e8c !default;
$red: #ed4040 !default;
$orange: #fb9678 !default;
$orangered: #ff4500 !default;
$yellow: #fec107 !default;
$green: #17e832 !default;
$teal: #20c997 !default;
$cyan: #01c0c8 !default;
$primary: #ed4040 !default;
$text-muted: $gray-600 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$theme-colors: (
  primary: $blue,
  secondary: $gray-100,
  success: $green,
  info: $blue,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  cyan: $cyan,
  dark: $gray-800,
  purple: $purple
);

$body-bg: $gray-100;
$body-color: $gray-900 !default;
$jumbotron-bg: $gray-100 !default;

$navbar-brand-padding-y: 10px;

$card-border-width: 0px !default;
$card-border-radius: 5px !default;
$alert-border-radius: 0px !default;

.shadow {
  background: #fc0; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  /*padding: 10px;*/
}

.grow-or-fall {
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.grow-on-hover {
  @extend .grow-or-fall;
}

.fall-on-hover {
  @extend .grow-or-fall;
}
/* Небольшое увеличение при наведение */
.grow-on-hover:hover {
  z-index: 2;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.fall-on-hover:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.border-bottom {
  border-bottom: 1px solid #e9ecef !important;
}

section {
  width: 100%;
  max-width: none;
  text-align: center;
  background-color: $gray-100;
  height: 110vh;
  color: black;
}

.account-item {
  background: linear-gradient(to bottom right, $gray-800, $gray-900) !important;
  /*Cover with cat*/

  /*background: url(./components/Account/cat.jpg);*/

  /*Dark simple cover with gradient*/

  /*  background: linear-gradient(
      45deg,
      rgba(103, 0, 31, 0.8),
      rgba(34, 101, 163, 0.5)
    ),
    url(./components/Account/cover.jpg);*/

  /*Cover with flowers*/

  /*  background: linear-gradient(
      45deg,
      rgba(103, 0, 31, 0.8),
      rgba(34, 101, 163, 0.5)
    ),
    url(./components/Account/cover_flowers.jpg);*/
  border-radius: 10px;
  background-size: cover;
}

.input-in-header {
  background: transparent !important;
}

.intro-section {
  background-color: $gray-800;
  height: calc(
    100vh - 4rem
  ); /*вычисляем высоту экрана с учетом navbar в responsive еденицах*/
  color: white;
}

.account-section {
  background-color: $orangered;
  color: white;
}

body {
  padding-bottom: 5rem;
}

@import "bootstrap/scss/bootstrap.scss";

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
  .card {
    font-size: 1.6rem;
  }
  .card-title {
    font-size: 1.6rem;
  }
}
